<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @customer.name %></h3>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/my_page' %>
    <div class="col-8">
      <div class="row py-4 justify-content-center">
        <div class="col text-center">
          <h3>お気に入り施設一覧</h3>
        </div>
      </div>
      <%= render 'shared/customer_facilities', facilities: @facilities %>
    </div>
  </div>

</div>