<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @facility.name %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4">
      <%= link_to "施設情報", admin_facility_path(@facility), class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-8">
      <h4><%= @review.title %></h4>
    </div>
  </div>


</div>