<div class="col-6 offset-3">
  <div class="row">
    <!--後でリンク変更-->
    <div class="col-4 offset-4"><%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-secondary btn-block' %></div>
    <div class="col-4"><%= link_to "ログアウト", destroy_admin_session_path, method: :get, class: 'btn btn-outline-secondary btn-block' %></div>
  </div>
</div>