<div class="row mb-5">
  <div class="col-10 offset-1 border border-dark">
    <div class="row py-2 border border-dark">
      <div class="col">
        <h4 class="text-center">
          評価ポイント
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 border border-dark">
        <div class="row">
          <div class="col-8">
            <p>施設</p>
          </div>
          <div class="col-4">
            <p>
              <%= facility.reviews.average(:facility_score).to_f.round(1) %>点
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 border border-dark">
        <div class="row">
          <div class="col-8">
            <p>温泉</p>
          </div>
          <div class="col-4">
            <p>
              <%= facility.reviews.average(:onsen_score).to_f.round(1) %>点
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 border border-dark">
        <div class="row">
          <div class="col-8">
            <p>サービス</p>
          </div>
          <div class="col-4">
            <p>
              <%= facility.reviews.average(:service_score).to_f.round(1) %>点
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 border border-dark">
        <div class="row">
          <div class="col-8">
            <p>お食事</p>
          </div>
          <div class="col-4">
            <p>
              <%= facility.reviews.average(:meal_score).to_f.round(1) %>点
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>