<div class="container">
  <div class="row py-4">
    <div class="col-4">
      <!--検索条件-->
      <div class="row py-4">
        <div class="col text-center">
          <h4>検索条件を変更</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4"></div>
      </div>
    </div>

    <div class="col-8">
      <div class="row py-4">
        <div class="col text-center">
          <h3>施設一覧</h3>
        </div>
      </div>
      <%= render 'shared/customer_facilities', facilities: @facilities %>
      <%= paginate @facilities %>
    </div>
  </div>

</div>